.card {
    position: relative;
    background-color: #d8bbff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: 2px;
    width: 150px;
    height: 100px;
}

    .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

    .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2px; /* Kart içeriğinin padding'ini ayarla */
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

    .card:hover .card__content {
    transform: rotateX(0deg);
}

    .card__title {
    margin: 0;
    font-size: 15px;
    color: #333;
    font-weight: 700;
}

    .card:hover svg {
    scale: 0;
}

    .card__description {
    margin: 10px 0 0;
    font-size: 10px;
    color: #bba3ff;
    line-height: 1.4;
    font-weight: 500;
}
    .card-container {
    display: flex;
        
}

    .card svg {
    width: 50px;
    height: 50px; 
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

    body {
    margin: 0; /* Kenar boşluğunu kaldırır */
    padding: 0; /* Kenar boşluğunu kaldırır */
    background-image: url('funree.png'); /* Arka plan resmi olarak GIF URL'sini belirtin */
    background-size: cover; /* Arka plan resminin boyutunu ayarlar */
    background-repeat: no-repeat; /* Arka plan resminin tekrarlanmasını engeller */
}

    .content {
    padding: 20px;
    color: white; /* İçerik yazı rengi */
}

    button {
    --primary-color: #bba3ff;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
  }
  
  button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  button:hover {
    background-color: var(--hover-color);
  }
  
  button:hover .arrow {
    background: var(--secondary-color);
  }
  
  button:hover .arrow:before {
    right: 0;
  }

#loginButton {
    display: flex;
    position: fixed; /* Butonu sabit bir konuma getir */
    bottom: 150px; /* Sayfanın altından 20 piksel mesafede */
    left: 50%; /* Sayfanın ortasından başlayacak */
    transform: translateX(-50%); /* Yatayda ortalamak için */
    z-index: 999; /* Diğer içeriklerin üstünde olmasını sağlar */
    width: auto; /* Butonun genişliğini otomatik ayarla */
    max-width: 300px; /* Maksimum genişlik belirle */
}