body {
    font-family: 'Poppins', sans-serif;
    background-color: #d8bbff;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0; /* Kenar boşluğunu kaldırır */
    padding: 0; /* Kenar boşluğunu kaldırır */
    background-image: url('funree_game_bg.png'); /* Arka plan resmi olarak GIF URL'sini belirtin */
    background-size: cover; /* Arka plan resminin boyutunu ayarlar */
    background-repeat: no-repeat; /* Arka plan resminin tekrarlanmasını engeller */
}

#container {
    text-align: center;
    max-width: 500px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%; /* Yukarıdaki boşluk oranını ayarlayabilirsiniz */
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 36px;
    text-align: center;
    color: #fff;
}

.question {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}

.option {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #8c8aff;
    color: #fff;
    border: none;
    border-radius: 20px;
    transition: background-color 0.5s, color 0.5s;
    display: block;
    margin: 20px auto 0;
    text-align: center;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
}

button:hover {
    background-color: #182848;
    color: #fff;
}
